/*
  Body bölümünün style'ını içermektedir
  Linear gradient arka plandaki resmin üzerine opacity efektiyle daha güzel gözükmesini sağlamıştır
*/
body {
  background-image: linear-gradient(to bottom, rgba(240,240,120,0.8), rgba(30,30,30,0.8)) , url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*
    Sol taraftaki avatar resminin style'ını içermektedir
    radius efekti fotoğrafı yuvarlak şekil içerisine almaktadır
    bulunduğu div'e direk yapışmamak için margin kullanılmıştır
*/
.avatarStyle {
  width: 180px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  object-fit: cover;
  position: relative;
}

/*
  Ortadaki elemanların hepsini container şekilde içeren div'in style'ı
*/
.mainDiv {
  width: 55%;
  height: 80%;
  align-self : center;
  justify-content: center;
  background: rgb(15,15,15,0.4);
  margin: auto;
  margin-top: 50px;
  box-shadow: 5px 10px 8px rgb(0,0,0,0.5);
}

/*
  Web siteler değiştikçe buradaki middleDiv içeriği değişmektedir
*/
.middleDiv {
  align-self : center;
  justify-content: center;
  padding-top: -60px;
  margin-top: -30px;
  margin-left: 25px;
  width: 95%;
  height: 350px  ;
  overflow: auto;
  overflow-x: hidden;

}

/*
  middleDiv içerisindeki p ve h4 elementlerinin style'ı
*/
.middleDiv p, h4, a {
  text-align: center;
  font-size: 13px;
  color: rgb(180,180,120);
  font-family:verdana;
}


/*
  Scrollbar'ın daha güzel gözükmesi için güncellenmiştir
*/
::-webkit-scrollbar {
  width: 15px;
}

/*
  Scrollbar'ın daha güzel gözükmesi için güncellenmiştir
*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/*
  Scrollbar'ın daha güzel gözükmesi için güncellenmiştir
*/
::-webkit-scrollbar-thumb {
  background: rgb(180,180,120);
  border-radius: 10px;
}

/*
  buttonları contain eden table'ın sol tarafa boşluk koymak için style gerekmektedir
*/
.buttonContainerTable {
  padding-left:60px;
  width=100%;
}

/*
  avatar resminin altındaki kısa bilgi bölümünün style'ı
*/
.breefInfoTd {
  position:  fixed;
  padding-top: 35px;
  padding-left: 40px;
  font-family:verdana;
  font-size: 13px;
  text-align: center;
  color: rgb(180,180,120);
}

/*
  buttonların başlangıç style'ı
*/
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:verdana;
  font-weight: bold;
  font-size: 13px;
  margin: 25px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/*
  buttonların herhangi bir etkileşim içerisine girmeden önceki style'ı
*/
.buttonNormal {
  background-color: transparent;
  color: rgb(180,180,120);
  border: 2px solid rgba(180,180,120);
  border-radius: 50px;
}

/*
  buttonların hover olması durumundaki style'ı
  bu style ile mouse hover olması durumunda transition ile mouse arka plan rengi değişmektedir
*/
.buttonNormal:hover {
  background-color: rgba(50,51,0,0.7);
}
